<h1 class="mt-4"><i class="fas fa-thumbs-up" style = "color: #FFB900"></i>Student Portal</h1>
<p class="lead mb-3">Welcome <%= user.name %> ! </p>

<h1>Useful links for students </h1>

</div>

<div class="row-padding">

    <div class="third">
        <h2 style="font-size: 30px;color: #0E387C" > <a href="https://www.coursera.org/" title="Coursera.org"> Coursera.org </a></h2>
        <br>


        <p style="color: white"> Coursera covers a wide range of academic learning, allowing you to supplement your studies with some additional knowledge.  </p>

    </div>
    <br>
    <br>
    <br>


    <div class="third">
        <h2 style="font-size:30px "><a href="https://studentrecipes.com/" title="Recipes.com">Recipes for students</a> </h2>
        <br>

        <p style="color: white">Exactly what it says on the tin, StudentRecipes.com has recipes for 4000 quick and easy students meal.</p>

    </div>
    <br>
    <br>
    <br>



    <div class="third">
        <h2 style="font-size: 30px"><a href="https://www.webmd.com/default.htm" title="Health"> WebMD.com</a> </h2>
        <br>


        <p style="color: white"> WebMD allows you to check your current health status using its symptom checker. </p>

    </div>
</div>

<a href="/users/logout" class="btn btn-secondary" style = "background-color: #FFB900">Logout</a>
