<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h2><b><i class="fas fa-school" style = "color: #FFB900"></i> Welcome to the Student Portal</b></h2>
            <p>Create an account or login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2" style = "background-color: #FFB900"
            >Register</a
            >
            <a href="/users/login" class="btn btn-secondary btn-block" style = "background-color: #FFB900">Login</a>
        </div>
    </div>
</div>